@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,400);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Baloo);

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

a{
  color: white;
}
html,body{ 
  font-family: 'Open Sans', sans-serif;
	width:100%;
	height:100%;
	background-color: black;
  /*background: url("../img/background.jpg");*/
  background-attachment: fixed;
  background-size: 100%;

}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

p{
    font-family: 'Open Sans', sans-serif;

}

::-moz-selection { /* Code for Firefox */
    color: #fff; 
    background: #e50051;
  }

::selection {
    color: #fff; 
    background: #e50051;
}

.divisor{
  width: 100%;
  padding-top: 0;

}

.divisorUfla{
  width: 100%;
  padding-top: 0;
  background-color: white;
}
.emailSeti p{
  font-size: 30px;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #ff336d;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* ---- reset ---- */ 

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 1200px; background-color: #000000; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ 


.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #ff336d; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
 

 .image-title{
	 padding-top: 20px;
	 width: 50%;
	 height: auto;
 }


section{
    margin: 0px 0px 0px 0px !important; 
    padding: 0px 0px 0px 0px !important;
    padding-bottom: 160px;
}


.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;    
}





#sec-1 { 
    padding-top: 15%;
    padding-bottom: 15%;    
    vertical-align: middle; 
    position: relative;
    z-index: 2;
}
#sec-2, #sec-3, #sec-4 {
    padding-top: 15%;
    padding-bottom: 15%;    
    vertical-align: middle; 
    position: relative;
    z-index: 2;
    bottom: 7px;
}
#sec-4 {
    bottom: 0;
}
#sec-3 {
    /*background: rgba(9, 15, 14, 0.95);*/    
    background-image: -o-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -moz-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -webkit-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -ms-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
}

.overlay-ground {
    width: 100%;
    overflow: hidden;
    height: auto;
   
}

section{	
  height: 100vh;

}

.padding-bottom-40{
	padding-bottom: 40px;
}

.padding-top-40{
  padding-top: 40px;
}

.padding-top-60{
  padding-top: 60px;
}

.homeItem{
  
}



.padding-top-20{
  padding-top: 20px;
}

.home{
    height: 100%;
}

.home h1{
  font-family: 'Baloo', cursive;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
 
}

.home h2{
  font-size: 23px;
  font-weight: 300;
  color: white;
}

.padding-left-20{
  padding-left: 20px;
}
.call4action{
  padding-top: 50px;
}

.foto1{
  background: url(../img/foto1.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
}

.foto2{
  background: url(../img/foto2.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
  margin-top: -3px;
}

.foto3{
  background: url(../img/foto3.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
}

.foto4{
  background: url(../img/background.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
}

.containerHome{
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerOevento{
  padding-top: 450px;
  padding-bottom: 50px;

}

.containerPalestrante{
  padding-bottom: 200px;

}

.oeventoBG{
  background: url(../);  
  background-size: 100% auto;
}

.oeventoRow{
  height: 400px;
}

.patrocinador{
   background-color: #fff; 
    height: 100%;
}

.oevento{
  background-color: black;
  height: auto;
  padding-top: 500px;
  padding-bottom: 400px;
}


.oevento h1{
 font-family: 'Baloo', cursive;
  font-weight: 300;
  
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 70px;

}

.oevento h1 span{
  font-weight: 700;

}

.oeventoImagem{
  padding-left: 100px;
}

.oevento h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #e50051;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 40px 40px;
}

.oevento p{

  font-size: 16px;
  color: white;
  line-height: 30px;
  font-weight: 300;
}

.oevento a{

  font-size: 16px;
  color: #ffd400;
  line-height: 30px;
  font-weight: 300;
}


.oevento a:hover{


  color: #fff;
  
}


.oevento spam{
  color: #e50051;

}

.patrocinador{
  background-color: #002744;
  background-image: url("../img/3.jpg");
  height: auto;

}

.patrocinadorTexto{
  padding-top: 40px;
}


.patrocinador h1{
  font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #23d0f0;
  font-size: 40px;
  text-transform: uppercase;
  padding: 40px 40px;
}

.patrocinador h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
  color: #23d0f0;
  font-size: 20px;
  text-transform: uppercase;
  padding: 40px 40px;
}



.media{
  padding-top: 50px;
}

.patrocinador h1 span{
  font-weight: 700;

}

.patrocinador p{
  color: white;
  font-weight: 300;
  font-size: 16px;
}

.patrocinador span{
  font-size: 22px;
  color: #3bafd6;
  padding-top: 50px;
}

.email p{
  font-size: 30px;
}

.palestrante{
  background-color: #2c053a;
  background-image: url("../img/3.jpg");
  height: auto;

}




.palestrante h1{
   font-family: 'Baloo', cursive;
  font-weight: 300;

  color: #e50051;
  font-size: 40px;
  text-transform: uppercase;
  padding: 80px 80px;

}

.palestrante h1 span{
  font-weight: 700;

}

.palestrante h2{
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 15px;
  font-weight: 300;
  color: #e50051;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 10px;
}

.mountains{
  background-color: white;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.mountainsPink{
  background-color: #E7305D;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.mountains img{
  width: 100%;
  height: auto;
}

.palestrante p{
  color: white;
  font-weight: 300;
}

.divisorcomissao{
  background-color: #2c053a;
}

.palestrante i
{
 background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:40px;
}

.aufla{
  background-color: #ECECEC;
  padding-bottom: 10px;
  height: auto;
  
}


.aufla a{
 color: black;
 font-weight: 700;
  
}

.auflacontainer{

  padding-bottom: 60px;
}

.patrocinadorcontainer{

  padding-bottom: 60px;
}

.se-container{
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 150px;
}

.se-slope{
  margin: 0 -50px;
  transform-origin: left center;
}
.se-slope:nth-child(odd){
  background: #000;
  transform: rotate(5deg);
  margin-top: -200px;
  box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
}
.se-slope:nth-child(even){
  background: #e90089;
  transform: rotate(-5deg);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
}


.aufla h1{
 font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #e50051;
  font-size: 40px;
  text-transform: uppercase;
  padding: 80px 80px;s
}

.aufla h1 span{
  font-weight: 700;
}

.aufla p{

  font-size: 16px;
  color: black;
  line-height: 30px;
  font-weight: 300;
}

.btn-palestrante{
  padding-top: 30px;
}

.btn-palestrante{
  background-color: #e50051;
  color: white;
}

.btn-palestrante:hover{
  background-color: #fff;
  color: #e50051;
}


.btn-patrocinador{
  background-color: #3bafd6;
  color: white
}

.btn-patrocinador:hover{
  background-color: white;
  color: #3bafd6;
}



.btn-video{
  background-color: #2c3e50;
  color: white
}

.btn-video:hover{
  background-color: white;
  color: #3bafd6;
}



.btn-proposta{
  background-color: #e50051;
  color: white;
  margin-top: 40px;
    margin-bottom: 40px;


}

.btn-proposta:hover{
  background-color: #fff;
  color: #e50051;
}


.organizacao{

  padding-bottom: 60px;

 

}



footer{
  /*background: url("../img/bg.svg");*/
  background-color: #fcfbf9;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer a{
  color: #e50051;
}

footer a:hover{
  color: #23d0f0;
}

footer i{
  padding-right: 10px;
  padding-left: 10px;

}

footer p{
      font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  color: white;
  font-weight: 300;
}

footer h1{
  font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #e50051;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 50px;

}

footer h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 20px;
  color: #e50051;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;

}

footer h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  color: #e50051;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;

}



.copyrights p{
  margin: auto;
}

.copyrights a{
  color: white;
}

.copyrights{

  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  color: #f8d400; 
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyrights p{
  line-height: 20px;
  font-size: 12px;
}

.copyrights a{
  font-weight: 800;
  color: #f8d400; 
}

.copyrights a:hover{
  color: gray; 
  text-decoration: none;
}

.freepik{
  color: gray;
}

.freepik a{
    color: gray;
}


.freepik a:hover{
    color: #f8d400;
}


.imgFooter{
  width: 100%;
  height: auto;
}

/**/


.icon-scroll {
  /*top: 65%;
  left: 50%;
  width: 16px;
  height: 50px;*/
  z-index: 99999;
  -webkit-transition: opacity: .4s;
}
.icon-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid rgba(255,255,255,.8);
  border-bottom: 1px solid rgba(255,255,255,.8);
  margin: 0 0 2px 5px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
    -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.icon-scroll .a1 {
  margin-top: 6px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}

.icon-scroll .a2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}

.icon-scroll .a3 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.icon-scroll .mouse {
  height: 22px;
  width: 14px;
  border: 1px solid rgba(255,255,255,.8);
  border-radius: 10px;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 3px;
  width: 3px;
  margin: 2px auto 0;
  background: rgba(255,255,255,.8);
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.numeros{
  padding-top: 20px;
}
.numeros h3{
  font-size: 100px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 80px;
}

.numeros span{
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1em;
}

.numeros p{
  font-size: 30px;
}


.mobile{
background-color: black;
height: 100%
}

.mobile h1{
     font-family: 'Baloo', cursive;
    font-size: 1.5em;
    color: white;
    font-weight: 300;
}




.mobile h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: white;
    font-weight: 300;
}

.mobileCall4Action{
  padding-top: 60px;
}

.mobileAufla h1{
  color: #e50051;
  }

  .mobileAufla{
    background-color: white;
  }

.mobilePalestrante{

}

.mobilePatrocinador{

}

/*palestrante*/

.palestranteDiv{
  margin-bottom: 30px;
  
}

.nomePalestrante{
  color: white;
  background-color: #e50051;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.palestranteEmpresa{

  border-style: 1px solid;
  border-bottom:  #ccc;
  padding: 10px;
  text-align: center;
    font-size: 12px;
    font-weight: 700;
}


.tituloPalestra{

   border-style: 1px solid;
  padding-bottom: 10px;
  text-align: center;
  color: #ccc;
}

.instagram{
  background-color: white;
  height: auto;
}


.instagram h1{
   font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #e50051;
  font-size: 40px;
  text-transform: uppercase;
  padding: 80px 80px;s
}

.instagram h1 span{
  font-weight: 700;
}

.btn-instagram{
  background-color: #e50051;
  color: white;
  margin-top: 40px;
    margin-bottom: 40px;


}

.btn-instagram:hover{
  background-color: #000;
  color: #e50051;
}


/*menu*/

.navbar-seti{

  background-color: rgba(46,41,78,0.9);
  text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;

}

.navbar-seti span{

  color: white;


}

.navbar-seti li{
  padding-right: 10px;

}


..navbar-seti  .navbar-toggle {
  border-color: #ddd;
}
.navbar-seti  .navbar-toggle:hover,
.navbar-seti  .navbar-toggle:focus {
  background-color: #e50051;
}
.navbar-seti  .navbar-toggle .icon-bar {
  background-color: #fff;
}

.roquetContainer{
  width: 400px;
  height: auto;
}


.rocket{
    background-image: url("../img/roquet.svg");
    display: inline-block;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: inherit;
    position:absolute;
    background-size: 500px auto;

    left: 0;
    z-index: 1;
}

.linkHome{color: #FFD400}
.linkPalestrantes{color:#FFD400;}
.linkPatrocinadores{color:#FFD400;}
.linkLocalizacao{color:#FFD400;}
.linkOevento{color:#FFD400;}
.linkBlog{color:#FFD400;}
.linkProgramacao{color:#FFD400;}
.linkHome{color:#fff}


.contato{
  background-color: #fcfbf9;
  padding-bottom: 300px;
  height: 900px;
  background-image: url("../img/footer.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size:  100% ;
  padding-top: 200px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
}

.contato h1{
font-weight: 600;

}


.palestrantes{

  background-color: white;
  background-image: url("../img/palestrantes.svg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  padding-bottom: 10px;
  height: auto;
  


}


.palestrantes h1{
 font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #e50051;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 80px;
}


.palestrantes h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #e50051;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom:  80px;
}

.palestrantes h1 span{
  font-weight: 700;
}

.palestrantes p{
  font-size: 16px;
  color: black;
  line-height: 30px;
  font-weight: 300;
}


.btn-inscricao{
  font-size:12px;
  line-height:16px;
  border: 2px solid;
  padding:8px 15px;
}


.btn-login{
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;

  font-size:12px;
  line-height:16px;
  border: 2px solid;
  padding:8px 15px;
  background-color: #fff;
  color: black;
}





.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-inscricao {
    background: none;
    color: #fff;
  border-color: #fff;
}

.btn-outlined.btn-inscricao:hover,
.btn-outlined.btn-inscricao:active {
    color: #FFF;
    background: #D90368;
    border-color: #D90368;
}

.dropdown-menu{
  background-color: rgba(46,41,78,0.9);
  text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   padding-top: 5px;
   padding-bottom: 5px;
}

.blog{


background: #5f2c82; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.blog h1{
font-family: 'Baloo', cursive;
  font-weight: 300;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding: 80px 80px;s
}

@media (min-width:1200px){


.palestranteDiv{
  margin-bottom: 30px;
  height: 500px;
  
}


}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



.js .anime {
  opacity: 0;
  transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
  opacity: 1;
  transform: translate3D(0px, 0px, 0px);
  transition: .3s all ease;
}

.box {
  width: 260px;
  height: 100px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}

.box p {
  padding-top: 100px;
  font-size: 24px;
  color: white;
  font-family: monaco;
}



.foto{  
  background-attachment: fixed;
  background-size: 100%;
  height: 800px;
  border: 0 auto;

}

.foto1{
  background: url("../img/foto1.jpg");
  background-attachment: fixed;
  background-size: 100%;

}

.foto2{
  background: url("../img/foto2.jpg");
    background-attachment: fixed;
  background-size: 100%;
}

.foto3{
  background: url("../img/foto3.jpg");
    background-attachment: fixed;
  background-size: 100%;
}

.textoDestaque{
  font-family: 'Baloo', cursive;
  color: white;
  text-align: center;
vertical-align: middle;
line-height: 800px;  
font-size: 100px;   }


.curadores{
  background-color: #E7305D;
  height: auto;

}

.curadores p{
 
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 60px;

}

.curadores img{
  margin-bottom: 20px;
}



.curadores h1{

  color: white;
  font-family: 'Baloo', cursive;
  font-size: 40px;
  padding-top: 50px;

}

.margin-top-40{

  margin-top: 40px;

}



